<%= image_tag @funny.image.url %>

<p>
  <strong>Description:</strong>
  <%= @funny.description %>
</p>

<% if @funny.user == current_user %>
	<%= link_to 'Edit', edit_funny_path(@funny) %> |
<% end %>	

<%= link_to 'Back', funnies_path %>

