<div class="jumbotron">
	<h1>About</h1>
	<p>Pol</p>
</div>	

<div class="jumbotron">
	<p>Here is an example of what the content will be like! There would be a lot of text here. There can be some photos here as well.</p>
</div>	